@model Model.Legajo
@{
    ViewBag.Title = Model.Nombre;
}


<div class="panel panel-default">
    <div class="panel-heading">Informacion de Legajo</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            @*<dt>Codigo</dt>
            <dd>@Model.Id</dd>*@
            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>
        </dl>

    </div>
</div>



